/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/*targeting the button class:*/
.button{
	-fx-text-fill:white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight:bold;
	-fx-background-color:linear-gradient(#61a2b1, #2A5058); 
}

/*targeting the id "textstyle":*/
#textstyle{
	-fx-font: 30px "Arial";
	-fx-fill:white;
}